.vscode/**
.github/**
src/**
test/**
doc/**
.gitignore
.vscodeignore
.publish
.vscode-test.mjs
tsconfig.json
vitest.config.ts
esbuild.js
publish.sh
.husky/**
**/*.map
**/*.wasm
*.vsix
node_modules/**
media/logo-*.png
media/logo.svg
media/icon-v1.*
media/icon.svg
media/README.txt
media/Demo.gif
media/Demo-original.gif
